<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- SQL Dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

		<!-- Database Connection Settings -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/greatlearning_resteasy</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">password</property>

		<property name="show_sql">true</property>

		<!-- Specifying Session Context -->
		<property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>

		<!-- Mapping With Model Class Containing Annotations -->
		<!-- <mapping class="com.jcg.hibernate.maven.User" /> -->
		
		<!-- mappings for annotated classes-->
        <!-- <mapping class="com.greatlearning.resteasy.model.Dish"/>
        <mapping class="com.greatlearning.resteasy.model.Order"/>
        <mapping class="com.greatlearning.resteasy.model.Orderline"/>
        <mapping class="com.greatlearning.resteasy.model.OrderOrderline"/>
        <mapping class="com.greatlearning.resteasy.model.User"/>
        <mapping class="com.greatlearning.resteasy.model.Vendor"/>
        <mapping class="com.greatlearning.resteasy.model.VendorDish"/> -->
        
        
         
         
	</session-factory>
</hibernate-configuration>